:root { 
    --softNavColor: rgba(138, 132, 132, 0.815);
    --blueMainColor: rgb(71, 92, 211);
}

/*      -- Header and navbar Section */
.navbar { 
    border-bottom: 2px var(--softNavColor) solid;
}

#jasonNameTag {
    padding-right: 20px;
    border-right: 1px var(--softNavColor) solid;
}

/* BannerQuote Class */
.bannerQuote {
    padding: 100px;
    background-color: white;

}

#bannerQuoteMain, 
#bannerQuoteSub {
    text-align: center;
}

.fa-desktop {
    padding: 20px; 
    color: var(--blueMainColor);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}

/* About Me Section Class */

.aboutMeSection {
    background-color: var(--blueMainColor);

}



/* for debuging use. Delete below when finished :) */ 

.mainBodyContainer {
    border: 2px orange dashed;
}

.mainBodyFooter {
    border: 2px orange dashed;
}

.bannerQuote {
    border: 2px blue dashed;
}