:root { 
    --softNavColor: rgba(138, 132, 132, 0.815);
    --blueMainColor: rgb(41, 148, 219);
    --blackContactBackground: rgb(26, 19, 19); 
    --yellowLife: rgb(250, 215, 16);
}

/*      -- Header and navbar Section */
.navbar { 
    border-bottom: 2px var(--softNavColor) solid;
}

#jasonNameTag {
    padding-right: 20px;
    border-right: 1px var(--softNavColor) solid;
}

#resumeButton {
    height: 40px;
    background-color: var(--blueMainColor);
    color: white;
    border-radius: 8px;
}

/* BannerQuote Class */
.bannerQuote {
    padding: 100px;
    background-color: white;
}

#bannerQuoteMain, 
#bannerQuoteSub {
    text-align: center;
}

.fa-desktop {
    padding: 20px; 
    color: var(--blueMainColor);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 80px;
}

/* About Me Section */

.aboutMeSection {
    height: auto;

    border-top: 4px var(--blueMainColor) solid;
    border-bottom: 4px var(--blueMainColor) solid;

    display: flex;
}

.aboutMeContent {
    border: 2px orange dashed;
    clear:both;

}

#heyJason { /* Picture of me */
    height: 200px;
}

#aboutMeGreeting { /* Hello There! I am Jason Rosas Ramirez */
    text-align: center;
}

/* Recent Projects Sections */

.recentProjectsContent {
    display: flex;
    justify-content: space-evenly;

}

.card-img-top {
    height: 180px;
    border: 2px var(--softNavColor) solid;
}

.card-body {
    border: 2px var(--softNavColor) solid;
}

.recentProjectsSection {
    height: auto;

}

/* Quote from Ben */

.quoteFromBen {
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 30px 0px 30px 0px;

    text-align: center;
    font-family: 'Architects Daughter', cursive;
    

    background-color: var(--blueMainColor);
    opacity: 0.9;
}

#quoteText {
    color: white;
    margin: 0px 30px 0px 30px;
    font-size: 40px;
}


.quoteHighlight {
    font-size: 50px;
    color: var(--yellowLife);

}



/* Education Section */

.educationSection {
    display: flex;
    justify-content: space-evenly;

}



/*Contact Me Section*/

.contactMeSection {
    margin-top: 30px;
    border: 4px var(--blueMainColor) solid;
}

#contactMeID {
    text-align: center;
}

.contactIcons {
    height: auto;
    width: auto;
    background-color: var(--blackContactBackground);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 36px;
}

/* footer */

.mainBodyFooter {
    text-align: center;
}



.centerMe {
    text-align: center;

}
















/* Delete me when finished :) */
/* for debuging use. Delete below when finished :) */ 

/*

.mainBodyContainer {
    border: 2px orange dashed;
}

.bannerQuote {
    border: 2px blue dashed;
}

.aboutMeSection {
    margin: 10px 0px 10px 0px;
    border: 2px red dashed;

}

*/



